.page-heading h1 {
  color: #0e0804;
}

.post-heading .post-meta {
  display: none;
}

.post-preview .post-meta {
  display: none;
}

.post-preview {
  border-bottom-color: #0e0804;
}
.pagination .page-item .page-link {
  display: none;
}

.post-preview {
  text-align: center;
}

.box-note {
  border-left-color: #0e0804;
  background-color: #dfd7d2;
  border: #0e0804;
}
